* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
header {
  height: 81px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 19px;
}
.menu-wraper {
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  margin: 0;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #111321;
}
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-left: auto;
}
.menu-btn span {
  width: 18px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 6px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 6px);
}

/* Меню, которое будет появляться */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  /* background: #ffefba; */
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.menu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 125px;
  gap: 24px;
}
.menu.active {
  transform: translateX(0);
}
.menu .menu-item {
  list-style-type: none;
}
.menu-item {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 13px;
  /* background-color: blue; */
}

.menu-icon{
    
}
.menu-link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #111321;
  text-decoration: none;
}
/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}



